/* Font Family */
.ff-gilroy { font-family: 'Gilroy-Medium', sans-serif, helvetica; }
/* Font Weight */
.fw-light { font-weight: 300; }
.fw-regular { font-weight: 400; }
/* Font Size */
.fs-0_75r { font-size: 0.75rem; }
.fs-1r { font-size: 1rem; }
/* Line Height */
.lh-1_75 { line-height: 1.75; }
/* Color */
.c-black { color: #000000; }
.c-gray { color: #828282; }
.seafoam {color: #22FFAC; }
.lighter-gray {color: #ACACAC; }
.bg-seafoam { background-color: #22FFAC; }
.bg-off-white { background-color: #FEFEFE; }
