.content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 80px;
  margin: auto;
  max-width: 900px;
 }

html, body, h1, h2, h3, p, ol, ul, li, a {
	font-family: 'Gilroy-Medium', Helvetica, Arial, Sans-Serif;
	color: #56BD81;
	font-size: 24px;
	line-height: 32px;
	font-weight: normal;
	font-style: normal;
	padding: 0;
	border: 0;
	margin: 0;
}

/* Layout Styles ------------------ */
